*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.map{
    width:95%;
    height: 450px;
    margin: 0 auto;
    background-color:#fff;
}

.btn-toolbar{
    width:95%
}